{% if site.data.banner.enabled %}
  {% assign show_banner = true %}
  {% if site.data.banner.exclude_paths %}
    {% assign excluded_paths = site.data.banner.exclude_paths | split: "," %}
    {% for path in excluded_paths %}
      {% if page.url == path or page.url contains path %}
        {% assign show_banner = false %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}
  
  {% if show_banner %}
  <div class="global-banner bg-{% if site.data.banner.theme == 'tomato' %}tomato{% elsif site.data.banner.theme == 'harbor' %}harbor{% elsif site.data.banner.theme == 'sunshine' %}sunshine{% else %}ink{% endif %}">
    <div class="container">
      <a href="{{ site.data.banner.url }}" class="banner-link">
        {{ site.data.banner.text }}
      </a>
    </div>
  </div>
  {% endif %}
{% endif %}